*{
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-weight: bold;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: forestgreen;
    height: 100px;
    margin: 5px;
}

div{
    display: flex;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 400px;
    width: 20%;
    margin: 5px;
}

article{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 400px;
    width: 60%;
    margin: 5px;
}

aside{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    height: 400px;
    width: 20%;
    margin: 5px;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: forestgreen;
    height: 100px;
    margin: 5px;
}